.floatButton{
    background-color: #4caf50;
    border-color: #6cb36e;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 3px 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.floatButton:hover{
    background-color: #6cb36e;
    border-color: #4caf50;
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
.div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 9px;
} 
.nav {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

              