.bigButton {
    font-size: 13px;
    background-color: #00193f;
    border-color: #fcfdef;
    width: 50px;
    border-radius: 99px 0 0 99px;
    color: #fcfdef;
    padding: 5px 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.bigButton:hover{
    background-color: #00193f;
    border-color: #fcfdef;
    box-shadow: 0 3px 3px 0 #fcfdef,0 3px 3px 0 #fcfdef;
}
.button {
    background-color: #00193f;
    border-color: #fcfdef;
    border-radius: 0 99px 99px 0;
    color: #fcfdef;
    padding: 5px 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.button:hover{
    background-color: #00193f;
    border-color: #fcfdef;
    box-shadow: 0 3px 3px 0 #fcfdef,0 3px 3px 0 #fcfdef;
}
.bar{
    background-color: #00193f;
    color: #fcfdef;
    padding: 5px 15px;
    border-color: #fcfdef;
    border-left: none;
    border-right: none;
    width: 250px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.bar:hover{
    background-color: #00193f;
    border-color: #fcfdef;
    box-shadow: 0 3px 3px 0 #fcfdef,0 3px 3px 0 #fcfdef;
}