.bigButton {
    font-size: 13px;
    background-color: #4caf50;
    border-color: #6cb36e;
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.bigButton:hover{
    background-color: #6cb36e;
    border-color: #4caf50;
    box-shadow: 0 3px 3px 0 #000000,0 3px 3px 0 #000000;
}
.button {
    background-color: #4caf50;
    border-color: #6cb36e;
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.button:hover{
    background-color: #6cb36e;
    border-color: #4caf50;
    box-shadow: 0 3px 3px 0 #000000,0 3px 3px 0 #000000;
}
.bar{
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    border-color: #6cb36e;
    outline: #6cb36e;
}