.div{
    margin-top: 9px;
    height: 518px;
    width: 100%;
    align-items: center;
    justify-content: row;
    display: flex;
    flex-direction: row;
    color: #fcfdef;
}
.divInfo{
    background-color: rgba(0, 25, 63, 0.7);
    display: column;
    height: 100%;
    width: 33.3%;
    align-items: center;
    justify-content: center;
    border: 2px solid #fcfdef;
}
.divInfo h2{
    margin-left: 15px;
    text-shadow: 2px 2px 4px #003cff;
    text-decoration: underline double;
}
.divInfo h3{
    margin-left: 20px;
}
.divFlag{
    background-color: rgba(0, 25, 63, 0.7);
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 100%;
    align-items: center;
    border: 2px solid #fcfdef;
}
.divFlag img{
    margin-top: 30px;
    border: 2px solid #fcfdef;
}
.divFlag h3{
    margin-top: 30px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    text-decoration: underline double;
}
.divActivities {
    background-color: rgba(0, 25, 63, 0.7);
    width: 33.3%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid #fcfdef;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}
.divActivitiesdiv{
    margin-left: 20px;
    width: 150px;
    background-color: rgba(1, 40, 99, 0.7);
    border: 1.5px solid #fcfdef;
    border-radius: 10px;
}
.divActivitiesdiv h3{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.divActivitiesSmall{
    margin-left: 20px;
    margin-top: -90px;
    width: 110px;
    text-shadow: 2px 2px 4px #003cff;
    text-decoration: underline double;
}
.divActivitiesSmall h3{
    margin-left: 20px;
    width: 110px;
}
.upper{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
    text-decoration: underline double;
}