.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
}
  
.pagination button {
    color: #fcfdef;
    background-color: #00193f;
    border-color: #fcfdef;
    border-radius: 10%;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
  
.pagination button:hover {
    background-color: #00193f;
    border-color: #fcfdef;
    box-shadow: 0 -3px 3px 0 #fcfdef,0 -3px 3px 0 #fcfdef;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
.active {
    color: #fcfdef;
    border-color: #fcfdef;
    border-radius: 10%;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.active button {
    color: #00193f;
    background-color: #fcfdef;
    border-color: #00193f;
    box-shadow: 0 -3px 3px 0 #fcfdef,0 -3px 3px 0 #fcfdef;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
.active button:hover {
    color: #00193f;
    background-color: #fcfdef;
    border-color: #00193f;
    box-shadow: 0 -3px 3px 0 #fcfdef,0 -3px 3px 0 #fcfdef;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
}
